<section class="container">
    <div class="row">
      <div class="col-sm-6">
        <p>kitchen</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/QbL0X3B4mjg?si=btLv6PqDvilaU-51" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <div class="col-sm-6">
        <p>woodwork</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/aRGdDy18qfY?si=AAtkVjvl_TdrOnTL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <div class="col-sm-6">
        <p>gifts</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/c-ptvXgUfdg?si=8U0mEyEbSpz8tfS4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <div class="col-sm-6">
        <p>antiques</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/TSpiwK5fig0?si=6oMoZDSytNx3cMvS" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
    </div>
    <div class="row text-center">
      <a class="btn btn-secondary" href="#">View Complete Catalogue</a>
    </div>
  </section>